<h1 class="sc-element">
    Razor Blade Demos 
    @Edit.Toolbar(Content)
</h1>
<div>
    The following demos help you get started with <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">Razor Blade</a>. It is based on Razor Blade v1.0 stable. 
</div>
<div>
    These demos will not work if you don't have Razor Blade installed. 2sxc 9.40 will include Razor Blade, but if you're trying this on previous versions, make sure you install it separately from <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">github releases</a>. 
</div>

<h2>
    Demos / Tutorials for Text Manipulations
</h2>

<ol>
    <li>
        <a href='@Link.To(parameters: "text-crop=true")'>Cropping text and Ellipsis</a>
    </li>
    <li>
        <a href='@Link.To(parameters: "text-has=true")'>Really checking if something has text</a>
    </li>
    <li>
        <a href='@Link.To(parameters: "text-first=true")'>Showing the first real text</a>
    </li>
    <li>
        <a href='@Link.To(parameters: "text-zip=true")'>Zip/Compress text, removing long whitespace</a>
    </li>
</ol>

<h2>
    Demos / Tutorials for Html Tags Manipulations
</h2>

<ol>
    <li>
        <a href='@Link.To(parameters: "tags-strip=true")'>Stripping HTML Tags</a>
    </li>
    <li>
        <a href='@Link.To(parameters: "tags-br=true")'>Convert BR tags to New-Line and back</a>
    </li>
</ol>